*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #000;
    font-family: "Poppins", sans-serif;
    padding: 1.2% 20%;
}


.navbar{
    width: 100%;
    /* background-color: rgb(44, 124, 61); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-l{
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: peachpuff; */
}

.nav-l h1{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    padding-left: 1%;
}



.nav-l img{
    width: 30%;
    height: auto;

}

.nav-c {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-c a{
    text-decoration: none;
    color:#fff;
}



.nav-r button{
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #141414;
    font-family: "Poppins";
}



h2{
    font-size: 105px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-top: 2.5%;
}

.btns{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 0.8%;
}

.btn{
    background-color: #141414;
    color: #fff;
    padding: 12px 22.5px;
    border: none;
    border-radius: 35px;
    font-family: "Poppins", sans-serif;
}

.all-btn{
    background-color: #FC4609;
}


.cards{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 32.5%;
    height: 52vh;
    border-radius: 25px;
    background-color: #0E0E0E;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 56%;
    object-fit: cover;
    border-radius: 25px;
    /* border-radius: 10%; */
}

.card button{
    padding: 8px 14px;
    background-color: #561D0B;
    color:#f09b55;
    display: inline;
    margin-left: 10%;
    margin-top: 3.5%;
    border-radius: 25px;
    font-weight: 500;
    font-size: 12px;
    border: none;
    font-family: "Poppins";
}

.card p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3.5%;
    color:#fff;
    font-weight: 500;
    font-size: 18px;

}

.card .date-p{
    margin-top: 5.5%;
    color:#858282;
    font-weight: 400;
    font-size: 14px;
}